body{
  background-color:black;
    font-family: Poiret One;
  grid-template-columns: 1fr 1fr 1fr;

}


p{
  color:white;
  grid-template-columns: 1fr 1fr 1fr;
}
h1{
  color:white;
}

h2{
  color:white;
}





