body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:black;

}
header {
    text-align: center;
    padding: 40px;
    background: white;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}


p{
  color:white;
  grid-template-columns: 1fr 1fr 1fr;
}
h1{
  color:white;
}

h2{
  color:white;
}






