body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:black;

}
header {
    text-align: center;
    padding: 40px;
    background: white;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}

.article-card {
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.article-card img {
    width: 100%;
    height: auto;
}

.article-card h2 {
    font-size: 18px;
    margin-top: 15px;
}

.article-card p {
    font-size: 14px;
    line-height: 1.6;
}










