body{
  background-color:white;
    font-family: Poiret One;
  grid-template-columns: 1fr 1fr 1fr;

}


p{
  color:black;
  text-align : center;
}
h1{
  color:black;
}

h2{
  color:blue;
}




